* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  background-color: rgb(7, 7, 7);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
}
button {
  position: relative;
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  font-weight: bold;
  border: 2px rgb(65, 120, 65);
  background: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
  overflow: hidden;
  text-emphasis: none;
}
span {
  background-color: #3eff37;
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 1s;
}
button {
  width: 100%;
}
